*{
	margin: 0;
	padding: 0;
	font-family: 'Slabo 27px', serif;
}

.titulo{
	width:30%;
	margin:0px auto 10px auto;
	text-align: center;
	border:2.5px solid;
	font-size: 50px;
}

.contenedorTexto{
	width: 80%;
	margin:0px auto 10px auto;
}

.infoGravedad{
	text-align: center;
	font-size: 20px;
}

.pelota{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;

	top: 300px;
	left: 600px;
}

.pelota1{
	background: orange;
}

.pelota2{
	background: gold;
}

.pelota3{
	background: yellowgreen;
}

